/* --------------------------COMMONS--------------------------- */
/*#region*/
#iCan {
    display: flex;
    min-height: 100vh;
}

#iCan .container {
    height: 100vh;
    max-width: 80%;
    display: flex;
}

#iCan .row {
    width: 100%;
}

#skillCol, #skillInfoCol {
    height: 80vh;
    margin: 2rem;
    padding: 2.5rem;
    align-self: center;
    border-radius: 20px;
    background-color: rgba(51,3,0,0.4);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.6);
}
/*#endregion*/
/* --------------------------COMMONS--------------------------- */

/* -------------------------SKILL LIST------------------------- */
/*#region*/
#skillCol {
    max-width: 30%;
}

.skillLi {
    width: 100%;
    padding: 1rem 0;
    font-weight: bold;
}

.skillLi button {
    float: right;
    height: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
}
/*#endregion*/
/* -------------------------SKILL LIST------------------------- */

/* -------------------------SKILL INFO------------------------- */
/*#region*/
#skillLevelCol {
    width: 100%;
    margin-bottom: 5rem;
}

#skillInfoCol h2 {
    width: 100%;
    text-align: center;
    letter-spacing: .1rem;
}

.skillLevelBar {
    width: 100%;
    height: 2.5rem;
    margin: 1.5rem 0;
    background-color: rgba(138, 138, 138, 0.95);
    box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.75);
    border-radius: 5px;
    animation: 1s ease-out 0s 1 skillLevelBarVisible;
}
  
.skillLevel {
    position: relative;
    display: flex;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.95);
    box-shadow: inset 0px 0px 5px 1px rgba(170, 170, 170, 0.75);
    border-radius: 5px;
    animation: 1s ease-out 0s 1 widthIncrease;
}
  
.skillLevel label {
    position: absolute;
    padding-right: 10px;
    right: 0;
    z-index: 10;
    align-self: center;
    white-space: nowrap;
    font-weight: bold;
}
  
#projectsCol h3 {
    width: 100%;
    text-align: center;
    letter-spacing: .1rem;
}

#projectsList {
    margin: 1.5rem auto;
    width: 60%;
}

.projectsLi {
    width: 100%;
    padding: 1rem;
    font-weight: bold;
}

.projectsLi:hover {
    border-radius: 10px;
    animation: .4s forwards 0s 1 projectLiBackgroundColor;
}

.projectsLi button {
    float: right;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(169, 168, 162);
    font-weight: bold;
}

.projectsLi button:hover {
    color: rgb(136, 135, 129)
}

/* -----------------PROJECT DETAILS MODAL---------------- */
/*#region*/
#projectDetailsModal .modal-content {
    background: transparent;
}

#projectDetailsModalWrapper {
    width: 100%;
    margin: auto;
    text-align: center;
    background: transparent;
}

#projectDetailsModalWrapper .modal-header {
    padding: 1rem;
    display: block;
    border: none;
}

#projectDetailsModalWrapper button {
    color: rgb(169, 168, 162);
}

#projectDetailsModalWrapper .modal-body {
    display: block;
}

#linkDiv, #descriptionDiv, #nameDiv {
    margin: auto;
    width: fit-content;
    padding: 1rem;
    background-color: rgba(87, 84, 84, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#projectDetailsModalWrapper h5 {
    margin-bottom: .5rem;
}

#projectDetailsModalWrapper a {
    font-size: large;
    color: rgb(169, 168, 162);
    line-height: 1.3rem;
}

#projectDetailsModalWrapper .modal-footer {
    padding: 1rem;
    display: block;
    border: none;
}

#projectDetailsModalWrapper p {
    font-size: large;
    line-height: 1.3rem;
}

.closeProjectDetailsModalBtn {
    margin: .3rem;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

#closeProjectDetailsModalBtn .fas {
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: .5rem;
}
/*#endregion*/
/* -----------------PROJECT DETAILS MODAL---------------- */
/*#endregion*/
/* -------------------------SKILL INFO------------------------- */

/* -------------------------KEY FRAMES------------------------- */
/*#region*/
@keyframes widthIncrease {
    from {
        width: 0%;
    }

    to {
        width: inline;
    }
}

@keyframes skillLevelBarVisible {
    from {
        background-color: rgba(138, 138, 138, 0.0);
        box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.0);
    }

    to {
        background-color: rgba(138, 138, 138, 0.95);
        box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.75);
    }
}

@keyframes projectLiBackgroundColor {
    from {
        background-color: rgba(87, 84, 84, 0.0);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.0);
    }

    to {
        background-color: rgba(87, 84, 84, 0.6);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
    }
}
/*#endregion*/
/* -------------------------KEY FRAMES------------------------- */