#iCan {
    display: flex;
    min-height: 100vh;
}

#iCan .container {
    height: 100vh;
    max-width: 80%;
    display: flex;
}

#iCan .row {
    width: 100%;
}

#skillCol {
    height: 80vh;
    max-width: 30%;
    margin: 2rem;
    padding: 2rem;
    align-self: center;
    border-radius: 20px;
    background-color: rgba(51,3,0,0.4);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.6);
}

.skillLi {
    width: 100%;
    padding: 1rem 0;
    font-weight: bold;
}

.skillLi button {
    float: right;
    height: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
}

/* #projectsTbl td, #projectsTbl th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#projectsTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
#projectsTbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(182, 182, 182);
    color: white;
    width: 33%;
}

#projectsTbl {
    width: 100%;
}

#skillLevelTbl td, #skillLevelTbl th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#skillLevelTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
#skillLevelTbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(182, 182, 182);
    color: white;
}

#skillLevelTbl {
    width: 100%;
} */