.iCan {
    min-height: 100vh;
}

#projectsTbl td, #projectsTbl th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#projectsTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
#projectsTbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(182, 182, 182);
    color: white;
    width: 33%;
}

#projectsTbl {
    width: 100%;
}

#skillLevelTbl td, #skillLevelTbl th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#skillLevelTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
#skillLevelTbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(182, 182, 182);
    color: white;
}

#skillLevelTbl {
    width: 100%;
}