/* ---------------------------DARK--------------------------- */
.dark {
    #punchlineDiv,
    #iamLeftCol, 
    #iamRightCol,
    #changeBasicBtnDiv,
    #skillCol, 
    #skillInfoCol,
    #newMessageBtndiv,
    #messageTbl thead tr,
    #messageTbl tbody tr,
    #contactFormDiv, 
    #contactEmailCol h2,
    #linkList,
    #contactSocialMediaCol h2 {
        background-color: rgba(0, 0, 0, .8);
        box-shadow: 0px 0px 3px 3px rgba(169, 168, 162, 0.6);
        color: rgb(169, 168, 162);
    }

    .basicContent,
    #basicInfoDiv,
    #educationInfoDiv,
    #workInfoDiv,
    #languageInfoDiv,
    #errorInfoDiv {
        color: rgb(231, 203, 187);
    }

    #iamLeftScrollableDiv img {
        box-shadow: 0px 0px 3px 3px rgba(169, 168, 162, 0.6);
    }

    .showDetailsBtn .fas,
    .changeBasicBtn .fas,
    #linkList .fab,
    #contactSendBtn,
    #contactNameInput, 
    #contactEmailInput, 
    #contactSubjectInput, 
    #contactMessageInput,
    footer,
    #downloadManualLink,
    #showAboutModal {
        color: rgb(169, 168, 162);
    }

    #closeSkillInfoBtn {
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 3px 1px rgba(169, 168, 162, 0.6);
        border-radius: 30px;
    }

    #closeSkillInfoBtn .fas {
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: inset 0px 0px 15px 2px rgba(169, 168, 162, 0.6);
        border-radius: 30px;
        color: rgb(0, 0, 0);
    }

    .projectsLi:hover {
        animation: .4s forwards 0s 1 projectLiBackgroundColorDark;
    }

    .skillLevelBar {
        background-color: rgba(138, 138, 138, 0.95);
        box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.75);
        animation: 1s ease-out 0s 1 skillLevelBarVisibleDark;
    }
      
    .skillLevel {
        background-color: rgba(59, 59, 59, 0.95);
        box-shadow: inset 0px 0px 5px 1px rgba(170, 170, 170, 0.75);
    }

    #contactSendBtn {
        background-color: rgba(0, 0, 0, .8);
        box-shadow: 0px 0px 5px 0px rgba(185, 183, 177, 0.8);
    }

    #contactSendBtn:hover {
        box-shadow: 0px 0px 5px 2px rgba(185, 183, 177, 0.8);
    }

    #linkList .fab:hover {
        color: rgb(136, 135, 129)
    }

    #contactNameInput,
    #contactEmailInput,
    #contactSubjectInput,
    #contactMessageInput {
        box-shadow: inset 0px 0px 5px 0px rgba(185, 183, 177, 0.8);
    }

    .changeContactBtn .fas,
    footer {
        background-color: rgba(0, 0, 0, .8);
        box-shadow: 0px 0px 3px 3px rgba(169, 168, 162, 0.6);
    }
}

/* ---------------------------DARK--------------------------- */

/* ---------------------------LIGHT-------------------------- */
.light {
    #punchlineDiv, 
    #iamLeftCol, 
    #iamRightCol, 
    #changeBasicBtnDiv,
    #skillCol, 
    #skillInfoCol,
    #newMessageBtndiv,
    #messageTbl thead tr,
    #messageTbl tbody tr,
    #contactFormDiv, 
    #contactEmailCol h2,
    #linkList,
    #contactSocialMediaCol h2 {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
        color: rgb(56, 56, 56);
    }

    .basicContent,
    #basicInfoDiv,
    #educationInfoDiv,
    #workInfoDiv,
    #languageInfoDiv,
    #errorInfoDiv,
    .showDetailsBtn .fas,
    .changeBasicBtn .fas,
    .skillLi .fas,
    #closeSkillInfoBtn .fas,
    .projectsLi button,
    #messageTbl th,
    .removeBtn .fas,
    .showMessageDetailsBtn .fas,
    #linkList .fab,
    #downloadManualLink,
    .footerDivider,
    #showAboutModal,
    #contactNameInput, 
    #contactEmailInput, 
    #contactSubjectInput, 
    #contactMessageInput,
    .changeContactBtn .fas,
    footer {
        color: rgb(107, 107, 107);
    }

    #iamLeftScrollableDiv img {
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
    }

    #newMessageBtn {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
    }

    #newMessageBtn:hover {
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
    }

    .skillLevelBar {
        background-color: rgba(199, 199, 199, 0.95);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        animation: 1s ease-out 0s 1 skillLevelBarVisibleLight;
    }

    .skillLevel {
        background-color: rgba(138, 138, 138, 0.95);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    }

    .skillLevel label {
        color: rgb(199, 199, 199);
    }

    #closeSkillInfoBtn {
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
        border-radius: 30px;
    }

    #closeSkillInfoBtn .fas {
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
        border-radius: 30px;
        color: rgb(169, 168, 162);
    }

    .projectsLi:hover {
        animation: .4s forwards 0s 1 projectLiBackgroundColorLight;
    }

    #newMessageBtn {
        color: rgb(56, 56, 56);
    }

    .removeBtn .fas:hover,
    .showMessageDetailsBtn .fas:hover {
        color: rgb(146, 146, 146);
    }

    #contactNameInput, 
    #contactEmailInput, 
    #contactSubjectInput, 
    #contactMessageInput {
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
    }

    #contactSendBtn {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
        color: rgb(56, 56, 56);
    }

    #contactSendBtn:hover {
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
    }

    #linkList .fab:hover {
        color: rgb(136, 135, 129)
    }

    .changeContactBtn .fas,
    footer {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
    }
}

/* ---------------------------LIGHT--------------------------- */

/* ------------------------TRANSPARENT------------------------ */

.transparent {
    #footer {
        background-color: transparent;
    }
}

/* -------------------------TRANSPARENT------------------------ */

/* -------------------------KEY FRAMES------------------------- */
/*#region*/
@keyframes projectLiBackgroundColorDark {
    from {
        background-color: rgba(87, 84, 84, 0.0);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.0);
    }

    to {
        background-color: rgba(87, 84, 84, 0.6);
        box-shadow: 0px 0px 2px 2px rgba(169, 168, 162, 0.6);
    }
}

@keyframes projectLiBackgroundColorLight {
    from {
        background-color: rgba(153, 146, 146, 0.0);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.0);
    }

    to {
        background-color: rgba(153, 146, 146, 0.6);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
    }
}

@keyframes skillLevelBarVisibleDark {
    from {
        background-color: rgba(138, 138, 138, 0.0);
        box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.0);
    }

    to {
        background-color: rgba(138, 138, 138, 0.95);
        box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.75);
    }
}

@keyframes skillLevelBarVisibleLight {
    from {
        background-color: rgba(199, 199, 199, 0.0);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.0);
    }

    to {
        background-color: rgba(199, 199, 199, 0.95);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    }
}
/*#endregion*/
/* -------------------------KEY FRAMES------------------------- */