#root {
    height: 100vh;
}

#backgroundWrapper {
    height: 100%;
    background-image: url(../../Images/mainBackground.jpg);
    background-size: 100% 100%;
}

@media screen and (max-height: 768px) {
    #backgroundWrapper {
        background-image: url(../../Images/mainBackgroundMobile.jpg);
    }
}