.forgotPassword {
    height: calc(100% - 9rem);
}

#forgotPasswordContainer {
    width: 30%;
}

#forgotPasswordCol {
    width: fit-content;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
    box-shadow: inset 0px 0px 20px 7px rgba(255, 255, 255, 0.8);
}

#forgotPasswordForm {
    margin: 1rem;
}

#forgotPasswordEmailInput {
    width: 20rem;
    margin: 0.4rem;
    padding: .4rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(229, 234, 238);
    box-shadow: inset 0px 0px 5px 0px rgba(95, 95, 95, 0.8);
}

#forgotPasswordSendBtn {
    width: fit-content;
    margin: .5rem;
    padding: .4rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(95, 95, 95, 0.8);
    color: rgb(169, 168, 162);
    outline: none;
}

/* -------------------------RESPONSIVE------------------------- */

@media screen and (max-width: 1370px) {
    #forgotPasswordContainer {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    #forgotPasswordContainer {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    #forgotPasswordContainer {
        width: 70%;
    }
}

@media screen and (max-width: 530px) {
    #forgotPasswordContainer {
        width: 90%;
    }
}

/* -------------------------RESPONSIVE------------------------- */