.contact {
    min-height: 100vh;
    background-size: 100% 100%;
}

.contact .container {
    height: 100vh;
    max-width: 90%;
    display: flex;
}

.contact .row {
    height: 80%;
    width: 100%;
    align-self: center;
    overflow: auto;
}

#contactSocialMediaHeaderWrapper {
    display: flex;
    margin-bottom: 2rem;
}

#contactEmailHeaderWrapper {
    display: flex;
}

#contactEmailCol {
    height: fit-content;
    width: 35%;
    text-align: center;
    margin: 0 auto;
    padding: 0 .5rem;
}

#contactFormDiv, 
#contactEmailCol h2 {
    margin: 2rem auto;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
}

#contactEmailCol form {
    padding: .5rem;
}

#contactNameInput, 
#contactEmailInput, 
#contactSubjectInput, 
#contactMessageInput {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
}

#contactNameInput, #contactEmailInput, #contactSubjectInput {
    margin: 0.5rem 0;
    padding: .5rem .5rem;
}

#contactMessageInput {
    min-height: 5rem;
    margin: 0.5rem 0;
    padding: .6rem .5rem;
    line-height: 1.6rem;
}

#contactSendBtn {
    width: fit-content;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
}

#contactSocialMediaCol {
    padding: 2rem;
    text-align: center;
    height: fit-content;
    width: 50%;
}

#contactSocialMediaCol h2 {
    margin: 0 auto;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
}

#linkList {
    display: inline-flex;
    margin: 0 auto;
    justify-content: start;
    max-width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    overflow: auto;
}

.fab {
    font-size: 2rem;
    padding: 1rem;
}
  
.changeContactBtn {
    padding: 1rem;
    height: fit-content;
    background-color: transparent;
    border: none;
    margin: auto;
    display: none;
}

.changeContactBtn .fas {
    padding: .5rem;
    margin: 0 .2rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

#changeContactLeftBtn {
    margin-right: .2rem;
}

#changeContactRightBtn {
    margin-left: .2rem;
}

.changeContactBtn:focus {
    outline: none;
}

/* -------------------------RESPONSIVE------------------------- */

@media screen and (max-width: 1370px) {
    .contact {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
    }

    .fab {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 991px) {
    @media only screen and (orientation: landscape) {
        #contactEmailCol, 
        #contactSocialMediaCol {
            padding: 1rem 0;
            height: fit-content;
        }
    }
}

@media screen and (max-width: 768px) {
    #contactEmailCol, 
    #contactSocialMediaCol {
        width: 100%;
        margin: 0;
        height: fit-content;
    }

    .contact .row {
        display: flex;
        margin: auto;
        align-content: flex-start;
    }

    .changeContactBtn {
        display: block;
    }

    #contactSocialMediaCol {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    .contact .container {
        max-width: 95%;
    }
}

/* -------------------------RESPONSIVE------------------------- */