.home {
    min-height: 100vh;
    background-size: 100% 100%;
}

.home .container, 
.home .row, 
.home .col {
    height: 100vh;
    width: 100%;
    display: flex;
}

.home #punchlineDiv {
    margin: auto;
    padding: 1.5rem;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    color: rgb(185, 183, 177);
    background-color: rgba(51, 3, 0, 0.3);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
}

/* -------------------------RESPONSIVE------------------------- */

@media screen and (max-width: 1370px) {
    .home {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
    }

    .home .row {
        margin: auto;
    }
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 479px) {
    
}

/* -------------------------RESPONSIVE------------------------- */