header {
    position: sticky;
    top: 0;
    z-index: 1020;
    height: 7vh;
    width: 100%;
    background-color: rgb(61, 61, 61);
}

nav {
    height: 7vh;
}

#or {
    color: white;
    padding: 0 1em;
}

.fixed {
    position: fixed;   
}

.sticky {
    position: sticky;   
}