header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: transparent;
}

header img {
    height: 3rem;
}

#navButtons {
    flex-wrap: nowrap;
    display: flex;
}

.navLink {
    margin: 0 .5rem;
    color: rgb(185, 183, 177) !important;
    font-weight: bold;
}

.navLink:hover {
    color: rgb(136, 135, 129) !important;
}

#or {
    padding: 0 1rem;
    color: rgb(185, 183, 177);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

#loginCredentialsMatchWarning {
    color: red;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(169, 168, 162)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    outline-color: rgb(169, 168, 162) !important;
    border-color: transparent !important;
}

.navbar-collapse {
    text-align: center;
}

#signInBtn, 
#backToPortfolioBtn, 
#toEditPortfolioBtn, 
#editPortfolioLogOutBtn, 
#portfolioLogOutBtn {
    width: fit-content;
    padding: .4rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(95, 95, 95, 0.8);
    color: rgb(169, 168, 162);
    outline: none;
}

#portfolioLogOutBtn {
    margin-right: .7rem;
}

#signInBtn:hover, 
#backToPortfolioBtn:hover, 
#editPortfolioLogOutBtn:hover {
    box-shadow: 0px 0px 5px 2px rgba(95, 95, 95, 0.8);
}

#toEditPortfolioBtn, #portfolioLogOutBtn {
    box-shadow: 0px 0px 5px 0px rgba(185, 183, 177, 0.8);
}

#toEditPortfolioBtn:hover, #portfolioLogOutBtn:hover {
    box-shadow: 0px 0px 5px 2px rgba(185, 183, 177, 0.8);
}

/* -------------------------RESPONSIVE------------------------- */

@media screen and (max-width: 1370px) {
    @media only screen and (orientation: portrait) {
        header {
            font-size: .8rem;
        }
    }
    header {
        width: 100vw;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        padding-bottom: 1rem;
    }

    #or {
        display: none;
    }

    #toEditPortfolioBtn {
        float: left;
    }

    #portfolioLogOutBtn {
        float: right;
    }

    #showHideNavMenuBtn {
        display: block;
    }

    #navButtons {
        display: block;
    }

    #signInBtn {
        margin-right: .5rem;
    }

    #backToPortfolioBtn {
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 479px) {
    
}

/* -------------------------RESPONSIVE------------------------- */