footer {
    position: absolute;
    background-color: transparent;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 4rem;
    color: rgb(169, 168, 162);
}

#footerDivider {
    padding: 0 1rem;
}

footer h4 {
    margin: .5rem;
}

.relative {
    position: relative;
}

.darker {
    color: rgb(99, 98, 94);
}

.lighter {
    color: rgb(169, 168, 162);
}

footer .row {
    height: 100%;
}

footer .col {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downloadManualLink {
    color: rgb(169, 168, 162);
}

#downloadManualLink:hover {
    color: rgb(117, 117, 112);
}

@media screen and (max-height: 768px) {
    footer {
        color: rgb(99, 98, 94);
    }
}